@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {
    font-family: 'Gowun Dodum', sans-serif;
}

h4 {
    margin-top: 1rem;
    text-align: center;
    color: blue;
    font-weight: bolder;
}
p {
    text-align: center;
    color: black;
}
.card {
    transition: scale 1.50ms ease-in-out;
    
}
.card:hover {
    transform: scale(1.05);
}